<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width", initial-scale="1.0">
    <title>{% block title %}Workouts log{% endblock %}</title>
    <link rel='stylesheet' href="{{ url_for(static, filename = 'style.css')}}">
</head>
<body>
    <header class="site-header">
        <nav class="nav">
            <a href="{{ url_for('index')}}">Home</a>
            <a href="{{ url_for('new_workout')}}">New workout</a>
        </nav>
        <h
        

    </header>
</body>
</html>